@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url(./fonts/PlayfairDisplay-Bold.ttf) format("truetype");
  font-weight: 700;
}

// --------------variables--------------------------------------

$white-color: #fff;
$grey-color: #b8becd;
$black-color: #202336;
$orange: #fb8f1d;
$dark-grey: #4a4c53;

// --------------inheritance--------------------------------------

%flex-spb {
  display: flex;
  justify-content: space-between;
}
// --------------landing--------------------------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
}

body {
  width: 1200px;
  margin: 0 auto;
}

// --------------Header--------------------------------------

header {
  @extend %flex-spb;
  align-items: center;
  padding: 10px 0;

  nav {
    @extend %flex-spb;
    align-items: center;

    p {
      margin-right: 35px;
      font: 400 16px "Inter";
      color: $grey-color;

      &:hover {
        font: 400 16px "Inter";
        color: $black-color;
      }
    }

    div:not(:last-child) {
      margin-right: 18px;
    }

    .login-btn {
      width: 132px;
      height: 44px;
      border: 1px solid $orange;
      border-radius: 8px;
      color: $orange;
      text-align: center;
      padding-top: 10px;
    }

    .register-btn {
      width: 132px;
      height: 44px;
      background: $orange;
      border-radius: 8px;
      color: $white-color;
      text-align: center;
      padding-top: 10px;
    }
  }

  .img-logo {
    background-image: url(./assets/logo.svg);
    width: 41px;
    height: 41px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

// --------------previev--------------------------------------

.previev {
  @extend %flex-spb;
  align-items: center;
  margin-top: 100px;

  .travel-form {
    width: 500px;

    h1 {
      font: 700 64px "Playfair Display";
      color: $black-color;
    }

    p {
      font: 600 22px "Inter";
      color: $black-color;
      margin: 50px 0;
    }

    .input-form {
      display: flex;
      flex-wrap: wrap;

      div {
        margin-bottom: 30px;

        &:not(:last-child) {
          margin-right: 30px;
        }
      }

      input {
        width: 220px;
        height: 52px;
        border: 0.8px solid $grey-color;
        border-radius: 6px;
        padding-left: 20px;
        outline: none;

        &::placeholder {
          font: 400 15px "Inter";
          color: $dark-grey;
        }
      }
    }

    .btn {
      width: 180px;
      height: 52px;
      background-color: $orange;
      color: $white-color;
      border-radius: 8px;
      text-align: center;
      padding-top: 15px;
      font: 700 17px "Inter";
    }
  }

  .travel-img {
    background-image: url(./assets/main-img.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 506px;
    height: 483px;
  }
}

// --------------travel--------------------------------------

.travel {
  @extend %flex-spb;
  padding-top: 100px;

  .img {
    background-image: url(./assets/setion.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 659px;
    height: 534px;
  }

  .travel-discr {
    padding-right: 37px;
    padding-left: 66px;
    width: 45%;

    h3 {
      font: 700 36px "Playfair Display";
      color: $black-color;
      padding-top: 100px;
    }

    p {
      font: 300 17px "Inter";
      color: $grey-color;
      padding-top: 20px;
    }

    .btn {
      width: 164px;
      height: 48px;
      color: $white-color;
      font: 600 16px "Inter";
      background-color: $orange;
      border-radius: 8px;
      text-align: center;
      padding-top: 14px;
      margin-top: 40px;
    }
  }
}

// --------------footer--------------------------------------

footer {
  display: flex;
  justify-content: center;
  background-color: #f9f9fb;
  margin-top: 192px;
  padding: 90px 0 120px;
  position: absolute;
  width: 100%;
  left: 0;

  .footer-column1 {
    padding-left: 52px;

    .img {
      background-image: url(./assets/footer-logo.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 44px;
      height: 37px;
    }

    p {
      font: 300 18px "Inter";
      color: $grey-color;
      width: 312px;

      &:not(:last-child) {
        padding-top: 21px;
      }

      &:last-child {
        width: 375px;
        padding-top: 34px;
      }
    }
  }

  .footer-column {
    p {
      font: 300 18px "Inter";
      color: $grey-color;
      padding-left: 100px;

      &:not(:first-child) {
        padding-top: 20px;
      }

      &:first-child {
        font: 700 19px "Inter";
        color: $black-color;
      }
    }
  }
}
